<div class="side_bar_header">
  <div class="edit_user">
    <%= link_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="new_room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <%= link_to room.name, room_messages_path(room) %>
    </div>
  <% end %>
</div>